.titulo {
	margin-bottom: 20px;
	padding:10px;
	background-image: url("back1.jpg");
	background-size: 140%;
	background-position: -750 -100;
	color: #FFFFFF;
	text-align: right;
	font-size: 20px;

}
.titulo span {
	color: red;
}
.contenedor {
	background-color: white;
	width:70%;
	height:70%;
	margin: auto;
	padding: 30px;
}
.flex-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.flex-container > div {
	width: 360px;
	text-align: left;
	color: white;

}

#personajes {
	background-color: red;
}
#casting {
	background-color: blue;
}
#rodaje {
	background-color: green;
}

#LineaRoja {
	border-right-style: dotted;
	border-right-color: red;
}

#LineaAzul {
	border-right-style: dotted;
	border-right-color: blue;
}

body {
	background-image: url("back2.jpeg");
	background-size: 100%;
	font-family: 'Montserrat', sans-serif;


}
h1 {
	padding-right: 50px;
}
h2 {
	padding: 20px;
	margin: 0px;
}

div p {
	color:black;
}